lxml>=4.9.1
nltk>=3.9
pep8>=1.7.0
pillow>=10.3.0
pylint>=1.6.4
pycodestyle>=2.5.0
pytest>=3.0.7
PyYAML>=3.13
regex>=2018
requests>=2.32.0
spacy~=3.8.2
pyspark~=3.5.3
SPARQLWrapper~=2.0.0
panda
grpcio~=1.67.0
grpcio-tools
lexicalrichness~=0.5.1
gender-guesser~=0.4.0

psutil
tqdm~=4.66.5
protobuf~=5.28.3
pandas~=2.2.3
setuptools~=75.1.0